/* *{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  left: 100px;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
body{
    /* overflow-x: hidden !important; */
}
.navbar{
z-index: 2 !important;
position: sticky !important;
top: 0;
display: flex !important;
flex-direction: column !important;

}
.cust-navbar{
   /* padding: 0 20px; */
 
}

a{
color: #017f92 !important;
}
.container-fluid{
width: 100% !important;
padding: 0 20px;
}


.bg-body-tertiary{
    background-color: #ffff !important;
}
.navbar-nav{
    /* display: flex !important; */
    /* gap: 20px !important; */
}

.navbar-nav li {
    padding: 0 20px;
}

.nav-item a {
    text-decoration: none; /* Removes underline */
    padding: 5px 20px; /* Adjust padding as needed */
    border: 1px solid transparent; /* Transparent border */
    border-radius: 20px;
    transition: border-color 0.3s ease; /* Smooth transition */
}

.nav-item a:hover{
    border-color: #53bab6; /* Change to desired color */
    border-radius: 20px;
    outline: none;
}

#video-banner{
    width: 100%;
    height: 200px;

    top: 0;
}
#video-banner video{
    width: 100%;

}

/* audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
} */

#details-section{
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    margin-top: 50px;
    overflow: hidden;
}

.row .heading img{
 
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.row .heading h3{
    color: #53bab6;
}

 .row .col h3{
margin-top: -60px;
padding-bottom:50px ;
}

 .row .col .text{
    font-size: 12px;
 /* padding: 0px 50px; */
}

#grass{
    width: 100%;
    height: 40px;

}
#grass img{
    object-fit: cover ;
width: 100%;
}

#card-section{
    margin-top: 150px ;
    position: relative;
}

.milk-left-image{
    background-image: url(img/milk-wave-pattern-left.webp);
    background-size: cover;
    width: 300px;
    height: 400px;
    position: absolute;
    left: -350px;
    top: 100px;
}



.para{
    font-size: 10px;
}
.card-title{
    font-size: 14px;
}

.card img{
    object-fit: cover !important;
    /* width:300px ; */
display: flex !important;
justify-content: center !important;
align-items: center !important;
padding-top: 0px !important;

}

/* .card .card-body h4 p{
    text-align: center;
} */

.cust-cards{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;


}


.rounded-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
 object-fit: cover;
 object-position: center;
 transform: translate(50% , 30%);
}

@media screen and (max-width:576px;) {
    .footer{
        display: flex !important;
        flex-direction: column !important;
    }

}

@media (min-width: 768px){
    #details-section{
        margin-top: 250px !important;
    }
    .container-fluid{
        width: 100% !important;
        padding: 0 100px;
        }
}

@media (min-width: 1024px){
    #details-section{
        margin-top: 350px !important;
    }
    .container-fluid{
        width: 100% !important;
        padding: 0 150px;
        }
}

@media (min-width: 1440px){
    #details-section{
        margin-top: 550px !important;
    }
    .container-fluid{
        width: 100% !important;
        padding: 0 150px;
        }
}

#images .col .card{
    /* transition: all 5s linear; */
    
}

#images .col .card:hover{
/* width: 220px !important;
opacity: 0; */
}



.card{
    animation: cardShow;
    animation-timeline: view();
}

@keyframes cardShow {
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    
    to{
transform: translateY(0);
opacity: 1;
    }
    
}